.show-parent-hover {
  display: none;
}

md-tile {
	position: relative;
}

*:hover>.show-parent-hover {
  display: initial;
  position: absolute;
  right: 0;
}

md-input,md-input>input {
	width: 100%;
}

.movement-form md-tile>md-icon,.movement-form md-tile>md-input + md-icon-button {
  margin-top: 13px;
}