.show-parent-hover {
    display: none;
}

md-tile {
    position: relative;
}

*:hover>.show-parent-hover {
    display: initial;
    position: absolute;
    right: 0;
}

md-input,
md-input>input {
    width: 100%;
}

.movement-form md-tile>md-icon,
.movement-form md-tile>md-input + md-icon-button {
    margin-top: 13px;
}

.movement-form md-icon-button[md-image="icon: help"] {
    border: 20px red solid;
    display: none !important;
}

md-input.input-movement,
md-input.input-movement * {
    cursor: pointer;
}

.movement-form md-list {
    position: relative;
}

.movement-form md-tile {
    background-color: #fff;
    box-shadow: none;
    transition: box-shadow 0.25s, background-color 0.25s;
}

.movement-form md-tile.is-pointer-down {
    z-index: 999;
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    background-color: #C3C3C3; 
    cursor: move;
}

.drag {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag:active {
    cursor: move;
}
